
.sidebar {
    position: fixed;
    width: 150px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 51;
    background-color: rgba(#333, 0.75);
    transition: transform 0.3s ease 0s;
    &._active {
        transform: translateX(0);
    }

    @media (max-width: 1500px) {
        width: 60px;
    }
    @media (max-width: 1300px) {
        transform: translateX(-100%);
        background-color: rgba(#333, 1);
    }
    &__btn {
        display: none;
        transition: transform 0.3s ease 0s;
        &._active {
            @media (min-height: 700px) {
                transform: translateX(-45px);
            }
            
            svg {
                transform: rotate(180deg);
            }
        }
        @media (max-width: 1300px) {
            position: absolute;
            right: -30px;
            top: 130px;
            z-index: 1000;
            background-color: $colorGold;
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 24px;
                height: 24px;
            }
            path {
                fill: $colorWhite; 
            }
        } 
    }
        
    &__body {
        z-index: 100;
        position: relative;
        width: 100%;
        height: 100%;
        // min-height: 700px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0 86px 0;
        @media (max-width: 1300px), (max-height:700px) {
            justify-content: center;
            padding: 0;
            
            
        }
    }
    &__title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: $colorLightGray;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: relative;
        display: block;
        word-break: none;
        @media (max-width: 1300px), (max-height:700px) {
            display: none;
        }
    }
    &__line {
        width: 2px;
        height: 80px;
        background-color: $colorLightGray;
        margin: 40px 0;
        display: inline-block;
        @media (max-width: 1300px), (max-height:700px)  {
            display: none;
        }
    }  
}
.social {
    &__item {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
        transition: transform 0.1s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05); 
                .social__icon path {
                    fill: $colorGold;
                }
            }   
        }
        
    }
    &__icon {
        path {
            fill: rgba(#fff, 0.6);
            transition: fill 0.3s ease 0s;
        }
    }
}